.loginBackground {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
  }
  
  .primaryColour {
    background-color: #0f406a;
    border-color: #0f406a;
    color: white;
  
    :hover {
      background-color: #235c8d;
      border-color: #235c8d;
    }
  }
  
  .primaryColourLink {
    color: #0f406a;
    :hover {
      color: #3a86c9;
    }
  }
  
  .secondaryColour:hover {
    border-color: #f57c31;
    color: #f57c31;
  }